<%- include("../../views/partials/user/header") %>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Add to Cart</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (wishlist.length > 0) { %>
                                    <% for (let product of wishlist) { %>
                                        <tr>
                                            <td class="image product-thumbnail">
                                                <img src="/uploads/re-image/<%= product.productImage[0] %>" alt="#" />
                                            </td>
                                            <td class="product-des product-name">
                                                <h5 class="product-name">
                                                    <a href="/product/<%= product._id %>">
                                                        <%= product.productName %>
                                                    </a>
                                                </h5>
                                                <p class="font-xs">
                                                    <%= product.category %><br />
                                                    <%= product.brand %>.
                                                </p>
                                            </td>
                                            <td class="price" data-title="Price">₹<span>
                                                <%= product.salePrice %>
                                            </span></td>
                                            <td class="text-center" data-title="Add to Cart">
                                                <a href="/addToCart?productId=<%= product._id %>" class="btn btn-sm">Add to Cart</a>
                                            </td>
                                            <td class="action" data-title="Remove" onclick="return confirm('Are you sure you want to remove this product from your wishlist?')">
                                                <a class="btn btn-sm" href="/removeFromWishlist?productId=<%= product._id %>">
                                                    <i class="fi-rs-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <p class="lead mb-4">No items found in Wishlist</p>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("../../views/partials/user/footer") %>
